beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.3
et-xmlfile==1.1.0
exceptiongroup==1.2.0
html5lib==1.1
idna==3.6
iniconfig==2.0.0
lxml==5.1.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
pluggy==1.4.0
pytest==8.1.1
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
requester==0.6.1
requests==2.31.0
scapy==2.5.0
six==1.16.0
soupsieve==2.5
tomli==2.0.1
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
